@import "tailwindcss";

/* Configuraciones globales base para el entorno de escritorio */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Fundamental para el comportamiento tipo OS */
  background-color: #000;
  /* Fondo base antes de montar la UI */
  color: rgba(255, 255, 255, 0.87);
}